{% extends "_base.html" %}
{% block content %}
<div style="background-color: rgba(64, 224, 208, 0.586); padding-left: 50px; padding-top: 20px; padding-bottom: 20px; padding-right: 15px; width: 35%;"> <!--commit this-->
<h1 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif"> Road Trip </h1>
<p style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif"> Go to <b style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Profiles</b> to find your Road Trip profile. </p>
<p style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Go to <b style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Dashboard</b> to see Travel info.</p>
<p style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Go to <b style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">DB Schema</b> to see the Road Trip database schema.</p>
<p style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Go to <b style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Login</b> to access your account.</p>
<p style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif"> Go to <b style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Registration</b> to sign-up for a Road Trip account.</p>
</div>

<style>
    body {
        background-image: url("https://media.kgw.com/assets/KGW/images/e83dd5ab-c11f-4ae5-8907-df8dc6c109b1/e83dd5ab-c11f-4ae5-8907-df8dc6c109b1_1140x641.jpg");
        background-size: cover;
        background-attachment: fixed;
        }
  </style>

{% endblock %} 